.sponsor-shadow{
        -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
        border-radius: 10px;
}
.sponsor-shadow>a>img{
        border-radius: 10px;
}
/* centered columns styles */
.row-centered {
        text-align:center;
}
.col-centered {
        display:inline-block;
        float:none;
        /* reset the text-align */
        text-align:left;
        /* inline-block space fix */
        margin-right:-4px;
}
#masthead.navbar {

}
#masthead .navbar-brand img{
   width:300px;
}
.section-header .headline {
        display:block;
}
.header-img {
        height:100vh;
        background-image:url('../assets/2016/images/header2.jpg');
        background-size:cover;
}
.section-header {
        margin-top:150px;
}
p.top50 {
        margin-top:50px;
}
.top100 {
        margin-top:100px;
}
.top20 {
        margin-top:20px;
}
.image-full {
            width:100%;
}

.btn.big {
            padding:20px;
        }
.section-header:after {
            content:none;
        }